@using Pharmacy.BOL.Entities
@using Pharmacy.WebUI.Areas.Member.ViewModels
@model ProductDetailVM
@{
    ViewBag.Title = "Details";
}


<div class="secondary_page_wrapper">

    <div class="container">
        <ul class="breadcrumbs">

            <li><a href="/Member">Ana Sayfa</a></li>
            <li>Profilim</li>

        </ul>
        <div class="row">
            @{ Html.RenderAction("Sidebar", "Profil");}
            <main class="col-md-9 col-sm-8">

                <h1>Profilim</h1>

                <div class="top_box on_the_sides">
                    <section class="section_offset">
                        <h3> Genel Bilgiler</h3>
                        <div class="row genel">
                            <div class="col-sm-6">
                                <div class="table_wrap">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.product.name)</th>
                                                <td>@Html.DisplayFor(model => model.product.name)</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.product.price)</th>
                                                <td>@Html.DisplayFor(model => model.product.price)</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.product.stock)</th>
                                                <td>@Html.DisplayFor(model => model.product.stock)</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.product.Brand.name)</th>
                                                <td>@Html.DisplayFor(model => model.product.Brand.name)</td>
                                            </tr>
                                            <tr>
                                                <th>Kategoriler</th>
                                                <td>@string.Join(" - ", Model.Categories.Select(s => s.name))</td>
                                            </tr>
                                            <tr>
                                                <th>Etiketler</th>
                                                <td>@string.Join(" - ", Model.Tags.Select(s => s.name))</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.product.description)</th>
                                                <td>@Html.DisplayFor(model => model.product.description)</td>
                                            </tr>

                                        </tbody>


                                    </table>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div> <h3 style="padding-bottom:10px">Resimleri</h3> <a href="@Url.Action("Edit","Account",new { id=Model.product.ID})" class="button_grey">Bilgilerini Düzenle</a></div>
                                @foreach (Picture hbp in Model.product.Pictures.OrderByDescending(o=>o.pIndex))
                                {
                                    <div class="editimg"><img src="@hbp.FPath" alt="@Model.product.name"  width="100px"/></div>
                                }


                            </div>
                        </div>
                    </section>

                </div><!--/ .top_box -->

            </main><!--/ [col]-->

        </div><!--/ .row-->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->