@using Pharmacy.BOL.Entities
@model IEnumerable<Product>


<div class="secondary_page_wrapper">

    <div class="container">
        <ul class="breadcrumbs">

            <li><a href="/Member">Ana Sayfa</a></li>
            <li>Ürünlerim</li>

        </ul>
        <div class="row">
            @{ Html.RenderAction("Sidebar", "Profil");}
            <main class="col-md-9 col-sm-8">

                <h1>Ürünlerim</h1>

                <div class="top_box on_the_sides">

                    <div class="left_side v_centered">
                        <a href="@Url.Action("Create","Account")" class="button_blue"> Yeni Ürün Ekle</a>

                        <span></span>


                    </div>

                    <div class="right_side">

                    </div>

                </div><!--/ .top_box -->

                <div class="table_wrap">

                    <table class="table_type_1 wishlist_table">
                        <thead>
                            <tr>
                                <th class="product_image_col">Ürün Resmi</th>
                                <th class="product_price_col">ürün Adı</th>
                                <th class="product_price_col">Fiyatı</th>
                                <th class="product_qty_col">Stok</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product hbf in Model)
                            {
                                <tr>
                                    <td data-title="Product Image">

                                        <a href="#"><img src="@hbf.Pictures.OrderBy(o=>o.pIndex).FirstOrDefault().FPath" alt="@hbf.name"></a>

                                    </td>
                                    <td data-title="Product Name and Category">

                                        <a href="#" class="product_title">@hbf.name</a>

                                    </td>
                                    <td data-title="Price" class="total">@hbf.price</td>
                                    <td data-title="Price" class="total">@hbf.stock</td>
                                    <td data-title="Action">
                                        <ul class="buttons_col">
                                            <li>
                                                <a href="@Url.Action("Details","Account",new {id=hbf.ID })" class="button_blue">Detay</a> <a href="@Url.Action("Edit","Account",new {id=hbf.ID })" class="button_blue">Düzenle</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Delete","Account",new {id=hbf.ID })" class="button_dark_grey">Sil</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div><!--/ .table_wrap -->

                <div class="bottom_box on_the_sides">


                    <div class="right_side">


                    </div>

                </div><!--/ .bottom_box -->

            </main><!--/ [col]-->

        </div><!--/ .row-->

    </div><!--/ .container-->

</div><!