@using Pharmacy.BOL.Entities;
@model IEnumerable<Favorite>
@{
    ViewBag.Title = "Index";
}

<div class="secondary_page_wrapper">

    <div class="container">
        <ul class="breadcrumbs">

            <li><a href="/Member">Ana Sayfa</a></li>
            <li>Favorilerim</li>

        </ul>
        <div class="row">
           @{ Html.RenderAction("Sidebar", "Profil");}
            <main class="col-md-9 col-sm-8">

                <h1>Favorilerim</h1>

                <div class="top_box on_the_sides">


                </div><!--/ .top_box -->

                <div class="table_wrap">

                    <table class="table_type_1 wishlist_table">
                        <thead>
                            <tr>
                                <th class="product_image_col">Ürün Resmi</th>
                                <th class="product_title_col">ürün Adı ve Satıcısı</th>
                                <th class="product_price_col">Fiyatı</th>
                                <th class="product_title_col"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product hbf in Model.Select(s=>s.Product))
                            {
                                <tr>
                                    <td data-title="Product Image">

                                        <a href="#"><img src="@hbf.Pictures.OrderBy(o=>o.pIndex).FirstOrDefault().FPath" alt="@hbf.name"></a>

                                    </td>
                                    <td data-title="Product Name and Category">

                                        <a href="@Url.Action("index","Product",new {id=hbf.ID})" class="product_title">@hbf.name</a>

                                        <a href="#">@hbf.Seller.name</a>

                                    </td>
                                    <td data-title="Price" class="total">@hbf.price</td>
                                    <td data-title="Action">
                                        <ul class="buttons_col">
                                            <li>
                                                <a onclick="functAddCart(@hbf.ID,1)" class="button_blue addCursor">Sepete Ekle</a>
                                            </li>
                                            <li>
                                                <a  onclick="functAddFavorite(this,@hbf.ID)" class="button_dark_grey addCursor">Favorilerden Kaldır</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>  }
                        </tbody>
                    </table>
                </div>
                <div class="bottom_box on_the_sides">
                </div>
            </main>
        </div>
    </div>
</div>