@using Pharmacy.WebUI.Areas.Member.ViewModels
@using Pharmacy.BOL.Entities
@model CartVM
@{
    int memberID = MemberFind.SellerID();
    string favClass = "";
    string textFav = "Favorilere Ekle";
}

<div class="secondary_page_wrapper">

    <div class="container">
        <ul class="breadcrumbs">

            <li><a href="/Member">Ana Sayfa</a></li>
            <li>Alışveriş Sepeti</li>
        </ul>
        <section class="section_offset">
            <h1>Alış Veriş Sepetim</h1>
            <div class="table_wrap">

                <table class="table_type_1 shopping_cart_table">

                    <thead>

                        <tr>
                            <th class="product_image_col">Ürün Resmi</th>
                            <th class="product_title_col">Adı</th>

                            <th class="product_qty_col">Adet</th>
                            <th>Fiyat</th>
                            <th class="product_actions_col"></th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (CartDetail hbc in Model.CartDetails)
                        {
                            <tr>

                                <td class="product_image_col" data-title="Product Image">

                                    <a href="@Url.Action("index","Product",new {id=hbc.ProductID })"><img src="@hbc.FPath" alt="@hbc.ProductName"></a>

                                </td>

                                <td data-title="Product Name">

                                    <a href="@Url.Action("index","Product",new {id=hbc.ProductID })" class="product_title">@hbc.ProductName</a>
                                    <ul class="sc_product_info"></ul>
                                </td>
                                <td data-title="Quantity">

                                    <div class="qty min clearfix">

                                        <button class="theme_button" data-direction="minus" data-productID="ds">&#45;</button>
                                        <input type="text" name="" class="quantyval" value="@hbc.Quantity">
                                        <button class="theme_button" data-direction="plus" data-productID="sd">&#43;</button>

                                    </div>
                                    <input type="hidden" class="proID" value="@hbc.ProductID" />
                                </td>

                                <td class="total" data-title="Total">
                                    @(hbc.Price * hbc.Quantity) TL
                                </td>

                                <td data-title="Action">

                                    <a onclick="deleteCart(@hbc.ProductID);" class="button_dark_grey icon_btn remove_product"><i class="icon-cancel-2"></i></a>

                                </td>


                            </tr>
                        }

                    </tbody>

                </table>

            </div><!--/ .table_wrap -->

            <footer class="bottom_box on_the_sides">

                <div class="left_side">

                    <a href="#" class="button_blue middle_btn">Alış Verişe Devam Et</a>

                </div>

                <div class="right_side">

                    @*<a href="#" class="button_grey middle_btn">Clear Shopping Cart</a>*@

                </div>

            </footer><!--/ .bottom_box -->
            <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->

        </section><!--/ .section_offset -->

        <div class="section_offset">

            <div class="row">

                <section class="col-sm-4">

                    <h3>İndirim Kodu</h3>

                    <div class="theme_box">

                        <p class="form_caption">kupon kodunuzvarsa giriniz.</p>

                        <form id="discount_code">

                            <ul>

                                <li class="row">

                                    <div class="col-xs-12">

                                        <input type="text" name="">

                                    </div>

                                </li>

                            </ul>

                        </form>

                    </div><!--/ .theme_box -->

                    <div class="bottom_box">

                        <button type="submit" form="discount_code" class="button_grey middle_btn">Kuponu Onayla</button>

                    </div>

                </section>
                <section class="col-sm-4">

                    <h3>Toplam</h3>

                    <div class="table_wrap">

                        <table class="zebra">

                            <tfoot>

                                <tr>

                                    <td>Toplam Fiyat</td>
                                    <td>@Model.CartDetails.Sum(s => s.Quantity * s.Price) TL</td>

                                </tr>

                                <tr class="total">

                                    <td>İndirimli Fiyat</td>
                                    <td>@Model.CartDetails.Sum(s => s.Quantity * s.Price) TL</td>

                                </tr>

                            </tfoot>

                        </table>

                    </div>

                    <div class="bottom_box">

                        <a class="button_blue middle_btn" href="@Url.Action("index","Payment")">Sepeti Onayla</a>

                        <div class="single_link_wrap">
                        </div>

                    </div>

                </section><!-- / [col] -->

            </div><!--/ .row -->

        </div>
        <section class="section_offset">

            <h3 class="offset_title">You Might Also Like</h3>
            <div class="owl_carousel six_items">
                @foreach (Product hbp in Model.BestSellerProducts)
                {
                    <div class="product_item">

                        <div class="image_wrap">

                             <img src="@hbp.Pictures.OrderBy(o=>o.pIndex).FirstOrDefault().FPath"style="height:200px" alt="@hbp.name">

                            <div class="actions_wrap">

                                <div class="centered_buttons">

                                    <a href="@Url.Action("Index","Product",new {id=hbp.ID })" class="button_dark_grey quick_view">Ürün Detayı</a>

                                </div><!--/ .centered_buttons -->
                                @{Favorite favorite = hbp.Favorites.Where(w => w.SellerID == memberID).FirstOrDefault();
                                    if (favorite != null)
                                    {
                                        favClass = "favcss";
                                        textFav = "Favorilerden Çıkar";
                                    }
                                    else
                                    {
                                        favClass = "";
                                        textFav = "Favorilere Ekle";
                                    }
                                    <a onclick="functAddFavorite(this,@hbp.ID)" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container addCursor @favClass"><span class="tooltip right favtext">@textFav</span></a> }

                            </div>
                        </div>
                        <div class="description">

                            <p><a href="@Url.Action("index","Product",new {id=hbp.ID })">@hbp.name</a></p>

                            <div class="clearfix product_info">

                                <p class="product_price"><b>@hbp.price TL</b></p>
                                <ul class="rating">

                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>
                                    <li class="active"></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </section>
    </div>
</div>